.DS_Store
.nyc_output
tmp
.idea
/node_modules
/packages/*/node_modules
rollup-plugin-taichi/node_modules
tests/node_modules
examples/node_modules
/packages/*/types
/packages/*/doc
types
lib
dist
dist-miniprogram
coverage
.nyc_output
npm-debug.log*
lerna-debug.log
.changelog
AUTHORS
.vscode
stats.html
tsconfig.tsbuildinfo
pnpm-lock.yaml
yarn.lock
